{% extends "candidates/base.html" %}
{% block content %}
    <h2 class="mb-3">Total job candidates on system {{ page_obj.paginator.count }}</h2>
  
    {% for candidate in candidates %}
        {% if candidate.client == user or request.user.is_superuser %} 
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                <h3>
                    <a class="candidate-title" href="{% url 'candidates-detail' candidate.id %}">
                      {{ candidate.candidatesalutation}} {{ candidate.candidatefirstname}} {{ candidate.candidatemiddlename}} {{ candidate.candidatefamilyname}}</a>

                      {% if candidate.referencestatus == 1 %}
                        <span data-tooltip="Reference received: {{ candidate.referencereceived|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/green.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}  
                      {% if candidate.referencestatus == 2 %}
                        <span data-tooltip="Reference requested: {{ candidate.referencerequested|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/amber.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}
                      {% if candidate.referencestatus == 3 %}
                        <span data-tooltip="Reference not yet requested"  data-tooltip-position="bottom">
                          <img src="/media/red.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}
                    
                      {% if candidate.passportstatus == 1 %}
                        <span data-tooltip="Passport checked: {{ candidate.passportchecked|date:"j-M-y" }} "  data-tooltip-position="bottom">
                          <img src="/media/green.jpg" alt="", height = 32, width = 32>
                        </span>                      
                      {% else %}
                        <span data-tooltip="Passport not checked:"  data-tooltip-position="bottom">
                          <img src="/media/red.jpg" alt="", height = 32, width = 32>
                        </span>  
                      {% endif %}
                    
                      {% if candidate.ccjstatus == 1 %}
                        <span data-tooltip="CCJ records received: {{ candidate.ccjchecked|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/green.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}  
                      {% if candidate.ccjstatus == 2 %}
                        <span data-tooltip="CCJ record request made:: {{ candidate.ccjrequestmade|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/amber.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}

                      {% if candidate.ccjstatus == 3 %}
                        <span data-tooltip="CCJ not yet requested"  data-tooltip-position="bottom">
                          <img src="/media/red.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}

                      {% if candidate.righttoworkstatus == 1 %}
                        <span data-tooltip="Right to work proof received:{{ candidate.righttoworkchecked|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/green.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}  
                      {% if candidate.righttoworkstatus == 2 %}
                        <span data-tooltip="Right to work proof requested: {{ candidate.righttoworkrequestmade|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/amber.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}
                      {% if candidate.righttoworkstatus == 3 %}
                        <span data-tooltip="Right to work proof not yet requested"  data-tooltip-position="bottom">
                          <img src="/media/red.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}

                      {% if candidate.dvlc == 1 %}
                        <span data-tooltip="Driving Licence checked:  {{ candidate.dvlcpoints}}-points" data-tooltip-position="bottom">
                          {% if  candidate.dvlcpoints > 0 %}
                            <img src="/media/green!.jpg" alt="", height = 32, width = 32>
                          {% else %}
                            <img src="/media/green.jpg" alt="", height = 32, width = 32>
                          {% endif %}
                        </span>
                      {% endif %}  
                      {% if candidate.dvlc == 0 %}
                         <span data-tooltip="Driving not checked:"  data-tooltip-position="bottom">
                        <img src="/media/red.jpg" alt="", height = 32, width = 32>
                      {% endif %}
                  
                      {% if candidate.dbsstatus == 1 %}
                        <span data-tooltip="DBS received: {{ candidate.dbschecked|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/green.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}  
                      {% if candidate.dbsstatus == 2 %}
                        <span data-tooltip="DBS requested: {{ candidate.dbsrequestmade|date:"j-M-Y" }}"  data-tooltip-position="bottom">
                          <img src="/media/amber.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}
                      {% if candidate.dbsstatus == 3 %}
                        <span data-tooltip="DBS not yet requested"  data-tooltip-position="bottom">
                          <img src="/media/red.jpg" alt="", height = 32, width = 32>
                        </span>
                      {% endif %}
                    </a>
                </h3>
                {% if request.user.is_superuser%}
                    <h6><a class="mr-2" href="{% url 'client-name' candidate.client.username %}">{{ candidate.client.clientprofile.fullname }}: Candidate</a></h6> 
                {% endif %}
            </article> 
        {% endif %} 
      {% endfor %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
      </div>
     
{% endblock content %}  
